/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    
} */

/* @font-face {
    font-family: 'myfont';
    src: url(./font/6035twklausanne.woff2);
}
*{
    font-family: 'myfont';
} */

.fade{
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.449),transparent);
}
.fade-r{
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, rgba(75, 68, 68, 0),transparent)
}
button:active{
    transform: scale(0.9);
    cursor: pointer;
}
.active{
    color: blue;
}


.credit-card {
  position: relative;
 
}

.glare {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
} 