/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    
} */

/* @font-face {
    font-family: 'myfont';
    src: url(./font/6035twklausanne.woff2);
}
*{
    font-family: 'myfont';
} */

